.sidebar{
    flex: 2;
    height: 100vh;
    width: 100%;
    /* margin: 10px; */
    overflow-y: scroll;
   
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    width: 10px;
    background-color: rgb(189, 188, 188);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(115, 115, 115);
}

.sidebarWrapper{
    padding: 20px;
}

.sidebarList,.friendList{
    list-style: none;
    padding: 10px;
    /* margin-bottom: 5px; */
}

.closefriendsList{
    margin: 0px;
    padding: 0px;
    font-size: large;
    align-items: center;
}

.sidebarListitem{
    /* margin-bottom: 20px; */
    align-items: center;
}


.sidebarButton{
    background-color: rgb(156, 156, 156);
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    border: 0;
    font-size: 18px;
    font-weight: bold;
}

.sidebarButton:hover{
    background-color: rgb(183, 183, 183);
    width: 100%;
    font-weight: bold;
}

